{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    ul{
        margin-left: 900px;
    }
    li{
        display: inline-block;
        margin-right: 20px;
    }
</style>
</head>
<body style="background-color: #fff0b3">
<header>
    <h1 style="text-align: center">Hungama</h1><br/>
{% for j in d2 %}
    <img src="{{ j.profileimg.url }}" height="100px" width="100px" style="border-radius: 100px"><br/>
    <h4>{{ j.user }}</h4>
    {% endfor %}
<<ul>
    <li><a href="./change" class="btn btn-primary" role="button">chango profile</a></li>
    <li><a href="./" class="btn btn-primary" role="button">home</a></li>
</ul>


</header>

<hr>
{% for i in d %}
    <a href="{{ i.image.url }}"  > <img src="{{ i.image.url }}" height="100px" width="100px"></a>
    <i>{{ i.caption }}</i>
{% endfor %}

</body>
</html>